# Godot 4+ specific ignores
.godot/
/android/
README_Development.md

.fake
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.VSCodeCounter/2024-11-13_00-09-15/details.md
.VSCodeCounter/2024-11-13_00-09-15/diff-details.md
.VSCodeCounter/2024-11-13_00-09-15/diff.csv
.VSCodeCounter/2024-11-13_00-09-15/diff.md
.VSCodeCounter/2024-11-13_00-09-15/results.csv
.VSCodeCounter/2024-11-13_00-09-15/diff.txt
.VSCodeCounter/2024-11-13_00-09-15/results.json
.VSCodeCounter/2024-11-13_00-09-15/results.txt
.VSCodeCounter/2024-11-13_00-09-15/results.md
